__pycache__/
.github/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
frontend/dist/
frontend/node_modules/
logs/
migrations/
tests/
.dockerignore
.env.example
*.gitignore
.psqlrc
Dockerfile
LICENSE
makefile
*.md
*.yml
*.yaml
*.ini
