POSTGRES_PASSWORD=<your-password>
POSTGRES_DB=acessoriadb
PGUSER=postgres
DB_PORT=<docker-compose-configured-port>

GEMINI_API_KEY=<your-api-key>
GROQ_API_KEY=<your-api-key>
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/acessoriadb
LANGGRAPH_ALLOWED_MSGPACK_MODULES=src.model.common.graph_state

MONGODB_URI=<your-database-uri>
MONGODB_DBNAME=<your-database-name>
